.header {
  margin-top: 45px;
  max-width: 880px;
  padding: 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  background-color: black;
  color: white;
}

.header__image {
  padding-bottom: 41px;
}

@media screen and (max-width: 940px) {
  .header__image {
    margin-left: 27px;
  }
}

@media screen and (max-width: 480px) {
  .header__image {
    padding-bottom: 32px;
    width: 126px;
  }
  .header {
    margin-top: 28px;
  }
}
