.page {
  background-color: black;
  color: white;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% - 40%);
}
}
