.page {
  background-color: black;
  color: white;
}

.page__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page__section {
  max-width: 920px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

